<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.quantumrand.amazonAdsPlugin"
      version="0.1.0">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>AmazonAdsPlugin</name>
    <description>PhoneGap Amazon Ads Plugin</description>
    <author>QuantumRand</author>
    <license>MIT</license>
    <keywords>phonegap,amazon,ads</keywords>
 
 
    <js-module src="amazonAdsPlugin.js" name="AmazonAdsPlugin">
        <clobbers target="amazonAdsPlugin" />
    </js-module>
    
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AmazonAdsPlugin">
                <param name="android-package" value="com.quantumrand.amazonAdsPlugin.AmazonAdsPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
             <activity android:name="com.amazon.device.ads.AdActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        </config-file>
         
        <source-file src="src/android/libs/amazon-ads-5.5.102.jar" target-dir="libs" />
        <source-file src="src/AmazonAdsPlugin.java" target-dir="src/com/quantumrand/amazonAdsPlugin" />
     </platform>          
</plugin>
